
.userList{
    float: left;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: #212529;
    border: #212529;
    background-color: aliceblue;
}
.messageList{
    float:right;
    width: 60%;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: #212529;
    border: #212529;
    background-color: aliceblue;
}