@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville');
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Libre Baskerville', serif;
}
p
{
  font-family: 'Fjalla One', sans-serif;
}

body {
  /*background: lightgray !important;*/
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
